# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# OS files
.DS_Store

# Python packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Artifacts
*.npy
*.npz
*.pkl
runs/
